<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt temporibus tempora eveniet unde incidunt
        exercitationem ad illo soluta quidem eum voluptate nam a nobis distinctio, veritatis voluptates repudiandae
        accusamus perspiciatis.</p>
    <a href="https://www.twitter.com" class="btn btn-primary btn-lg">Twitter</a>
</div>