body{    
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo{
    width: 30%;
}

/* .grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
  grid-auto-rows: minmax(100px, auto);
} */
